h1,h2,h3 {
    margin: 5px 0 !important;
}
.page {
    padding: 10px;
}
.button-underline{
    text-decoration: underline !important;
}
.text-link:hover {
    text-decoration: underline;
    cursor: pointer;
}